* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #24353f;
}
 .item {
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
  width: 61.5%;
}
h1 {
  color: #17a2b8;
}
h3 {
  color: white;
}
input {
  background-color: transparent !important;
  color: #fff !important;
}
.item p a {
  text-decoration: none;
}
.item p a:hover {
  text-decoration: underline;
}
.navbar {
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.item1{
  padding: 250px 0;
}
